<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Emlak Portal - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- HATA DÜZELTİLDİ: Başındaki ~/ kaldırıldı, çünkü bu dış bir link. Localhost ile çakışıyordu -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-building"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EMLAK PORTAL <sup>v1</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Yönetim Paneli</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">
                    <i class="fas fa-fw fa-home"></i>
                    <span>İlan Vitrini</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Properties/Create">
                    <i class="fas fa-fw fa-plus-circle"></i>
                    <span>Hızlı İlan Ver</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Properties/MyProperties">
                    <i class="fas fa-fw fa-user-edit"></i>
                    <span>İlanlarımı Yönet</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">Hesap</div>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" onclick="logout()">
                    <i class="fas fa-fw fa-power-off"></i>
                    <span>Güvenli Çıkış</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Aramak için ...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="userNameDisplay">Kullanıcı</span>
                                <!-- HATA DÜZELTİLDİ: Resim yolu düzeltildi -->
                                <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <a class="dropdown-item" href="/Auth/Login"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Çıkış</a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Emlak Portal 2026</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Temel Scriptler -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- HATA DÜZELTİLDİ:
         Buradaki chart-area-demo.js ve chart-pie-demo.js satırlarını SİLDİM.
         Çünkü onlar senin gerçek verilerinle çakışıp "null" hatası verdiriyordu.
    -->
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function logout() {
            if(confirm("Çıkış yapmak istediğinize emin misiniz?")) {
                localStorage.removeItem("token");
                window.location.href = "/Auth/Login";
            }
        }
    </script>
</body>
</html>