@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kayıt Ol - Emlak Portalı</title>
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5 col-lg-6 mx-auto">
            <div class="card-body p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur!</h1>
                </div>
                <form id="registerForm">
                    <div class="form-group">
                        <input type="text" id="reg_fullname" class="form-control" placeholder="Adınız Soyadınız" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="reg_username" class="form-control" placeholder="Kullanıcı Adı" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="reg_email" class="form-control" placeholder="E-posta Adresi" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="reg_password" class="form-control" placeholder="Şifre" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Kayıt Ol</button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="/Auth/Login">Zaten hesabın var mı? Giriş yap!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        $("#registerForm").submit(function (e) {
            e.preventDefault();

            var regData = {
                fullName: $("#reg_fullname").val(),
                username: $("#reg_username").val(),
                email: $("#reg_email").val(),
                password: $("#reg_password").val()
            };

            $.ajax({
                url: "http://localhost:5155/api/Auth/Register",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(regData),
                success: function (response) {
                    alert("Kayıt başarılı! Şimdi giriş yapabilirsiniz.");
                    window.location.href = "/Auth/Login";
                },
                error: function (xhr) {
                    alert("Kayıt başarısız! Lütfen şifrenizin (Büyük harf, küçük harf, rakam ve ! gibi özel karakter) içerdiğinden emin olun.\nDetaylı hata F12 konsolundadır.");
                    console.log("HATA DETAYI: ", xhr.responseText);
                }
            });
        });
    </script>
</body>
</html>